main {
  max-width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.selected {
  background-color: blue;
}
