* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  max-width: 90%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.shop {
  background: red;
}

.selected {
  background-color: blue;
}
